<html>
   <head></head>
   <body>
      <p style="margin-top:10px">
         <span style="color:#4485B8;margin-top:10px;margin-bottom:10px;">Dear all</span><br/>
      <div style="margin-bottom:10px;">
          ${announcement} 
               <div>
               </p>              
   </body>
</html>