<html>
   <head></head>
   <body>
      <p style="margin-top:10px">
         <span style="color:#4485B8;margin-top:10px;margin-bottom:10px;">Hi ${emp_name}</span><br/>
      <div style="margin-bottom:10px;">
          ${message} 
               <div>
               </p>
                
   </body>
</html>