<html>
   <head></head>
   <body>
      <p style="margin-top:10px">
         <span style="color:#4485B8;margin-top:10px;margin-bottom:10px;">Hi ${emp_name}</span><br/>
      <div style="margin-bottom:10px;">
          Your ${holiday_name} holiday  ${requestType} applied on ${applied_on?date}  has been ${status} by <span style="color:green"><b>${supevisor_name}</b></span>.<br/> 
       <#if isReasonExists == true && reason != 'approved' >
       Reason:&nbsp;${reason}
       </#if>
       <div>
               </p>
                
   </body>
</html>