<html>
   <head></head>
   <body>
      <p style="margin-top:10px">
         <span style="color:#4485B8;margin-top:10px;margin-bottom:10px;">Hi ${supevisor_name}</span><br/>
      <div style="margin-bottom:10px;">
          <#if gender == 'male'>
           Mr. 
           <#else>
           Miss. 
           </#if> <span style="color:green"><b>${emp_name}</b></span> has been cacelled the ${leave_type} for ${no_of_days} days requested on ${applied_on?date}. 
               <div>
               </p>
               
   </body>
</html>