<html>
   <head></head>
   <body>
      <p style="margin-top:10px">
         <span style="color:#4485B8;margin-top:10px;margin-bottom:10px;">Hi ${emp_name}</span><br/>
      <div style="margin-bottom:10px;">
          ${body} 
               <div>
               </p>
               <p>
               <a style="color:green" href="${categoryApproveUrl}/${approval_status}/${id}/${empId}/category">Approve</a>
               &nbsp;<a style="color:red" href="${categoryApproveUrl}/${reject_status}/${id}/${empId}/category">Reject</a>
               </p>
                
   </body>
</html>