<html>
   <head></head>
   <body>
      <p style="margin-top:10px">
         <span style="color:#4485B8;margin-top:10px;margin-bottom:10px;">Hi All</span><br/>
      <div style="margin-bottom:10px;">
          This is a test email from Software team in regards to the MyPort deployment. Please ignore this mail.
               <div>
               </p>               
                
   </body>
</html>